<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huskyez.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.huskyez.movieapp.views.MainActivity" />
        <activity android:name="com.huskyez.movieapp.views.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.huskyez.movieapp.views.movie.MovieDetailActivity" />
        <activity android:name="com.huskyez.movieapp.views.show.ShowDetailActivity" />
        <activity android:name="com.huskyez.movieapp.views.search.SearchActivity" />
        <activity android:name="com.huskyez.movieapp.views.login.HandleLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="moviereviewapp"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name="com.huskyez.movieapp.views.movie.TrendingMoviesActivity" />
    </application>

</manifest>